@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div>
    <span>@ViewBag.Error</span>
    @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
    {
        <label>Name</label>
        <input type="text" name="Name" />
        <label>Email</label>
        <input type="email" name="Email" />
        <label>Password</label>
        <input type="password" name="Password" />
        <label>Confirm Password</label>
        <input type="password" name="ConfirmPassword" />
        <input type="submit" value="Register" />
    }
</div>